  language: ruby
  rvm:
    - "2.1.2"
  addons:
    postgresql: "9.3"
  before_script:
    - cp config/database.yml.travis config/database.yml
    - psql -c 'create database shop_test;' -U postgres
    - bundle exec rake db:create db:migrate
  script: "bundle exec rspec spec"
