<div class="painting">
  <h4>From: <b><%= painting.title %></b></h4>
  <div class="name"><%= painting.name %></div>
  <%= image_tag(painting.image) %>
  <div class="review"><%= painting.review %></div>
</div>
