
  <table>
    <tr>
      <td colspan="2">Total</td>
        <td><b><%= painting.name %></b></td>
        <td><%= painting.review %></td> 
        <td><b><%= painting.image %></b></td>  
    </tr>
  </table>
