/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bxslider
 *= require jquery-ui
 *= require jquery.modal
 *= require_tree .
 *= require_self

 */

#banner {
background: #07BBFF;
padding: 1px;
border-bottom: 0.5px solid ;
font: small-caps 20px/20px "TimesMew Roman" , serif;
color: #555;
text-align: center;
img {
float: left;
}
}
.twitter {
  padding-top: 5px;
}

.form-control {
  width: 300px;
}

.my {
  /*background: #58D3F7; */
  font: small-caps 18px/18px "TimesMew Roman" , serif;

}

.locale {
  float: right;
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.btn-primary{
  font: small-caps 12px/12px "TimesMew Roman" , serif;
}

.my1 {
  /*background: #F3F781;*/
  font: small-caps 18px/18px "TimesMew Roman" , serif;
}

.my2 {
  /*background: #FAAC58; */
  font: small-caps 18px/18px "TimesMew Roman" , serif;
}

.my3 {
  /*background: #A9F5E1; */
  font: small-caps 18px/18px "TimesMew Roman" , serif;
}
.my4 {
  
  margin-right: 15px;
}
.my5 {
  font: small-caps 16px/16px "TimesMew Roman" , serif;
  color: #444;
}

.nav-header {
  font: small-caps 18px/18px "TimesMew Roman" , serif;
}

li.searchh {
  /*background: #A9A9F2; */
  
 
  
}

li.searchh  input {
    font: small-caps 16px/16px "TimesMew Roman" , serif;
    width:180px;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

li.loginn {
  background: #049cdb;
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}


.side {
  
  form, div {
    display: inline;
  }

  input {
    font-size: small;
  }

  .cart {
     font-size: smaller;
     color: black;
  
     table {
        border-top: 1px dotted #595;
	border-bottom: 1px dotted #595;
	border-bottom: 10px;

     }
  }

}


