p, div.price_line {
margin-left: 100px;
margin-top: 0.5em;
margin-bottom: 0.8em;

form, div {
display: inline;

}
}


.carts, .side .cart {
  .cart_title{
    font: 120% bold;  
  }

  .item_price, .total_line{
     text-align: right;
  }

  .total_line .total_cell .action_cell {
    font-weight: bold;
    
  }
}
