
blockquote {
  
  padding: 15px 30px;
  margin: 0;
  position: relative;
  background: #faa;
  background: -webkit-gradient(linear,0 0, 20% 100%, from(#81BEF7), to(#CEE3F6));
  background: -moz-linear-gradient(#81BEF7,#CEE3F6);
  background: -o-linear-gradient(#81BEF7,#CEE3F6);
  background: linear-gradient(#81BEF7,#CEE3F6);
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

blockquote p{
  font-size: 1.8em;
  margin: 5px;
  z-index: 10;
  position: relative;
  color: #FA5858;
}


blockquote + cite {
  font-size: 1.1em;
  display: block;
  margin: 1em 0 0 4em;
}

blockquote:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: -50px;
  left: 40px;
  border-width: 0 15px 50px 0px;
  border-style: solid;
  border-color: transparent #CEE3F6;
  display: block;
  width: 0;
}


