
#chat {
  border: 0.3px solid #B4B0B0;
  background-color: #F2F2F2; 
  border-radius: 10px;
  float: left;
  width: 50%;
}

h2 {
    color: #B4B0B0; 
}

.chatboxmessagecontent h5{
   align: left;
   color: #B4B0B0;

 }

.chatboxmessagecontent h4{
   color: #303030; 
 }

time {
  float: right;
  color: #B4B0B0;
  margin-right: 40px;
}

.blockdisplay .inputfield {

}



