.depot_form{
  width: 2%;
  float: left;
  fieldset {
    background: #ffe;
    legend {
      color: #787878;
      background: #E8E8E8;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
}

form {
     
    label {
      width: 5em;
      float: left;
      text-align: left;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
     }

     select,textarea,input {
       margin-left: 0.5em;
     }
   .actions {
    margin-top: 5px;
    text-align: center;
    }
   .submit {
      
      margin-left: 6em;
    }
    br {
      display: none
    }

  }
}



td{
  padding: 5px 0px 5px 3px;
}

table, th, td {

  
}
