<p id="notice"><%= notice %></p>


<h1>Top products</h1>
<ul class="bxslider">
  <% @products.each do |product| %>
  <li><center><%= image_tag(product.image_url) %></center></li>
<% end %>
</ul>
 <div class="entry"><%= render 'products' %>

 </div>

