 <center>
     <h3>Comming soon... </h3>
 </center>
<h5>Сокало Вячеслав</h5>
<h5>Панасюк Дмитрий</h5>
<h5>Сирко Дмитрий</h5>
  <h5> В проэкте будем применять различные gem-и, реализуем аутентификацию пользователей. Попробуем заполнять корзину покупателя товарами, оплачивать её, оформлять заказ. Будут созданы страницы для покупателя и для продавца.</h5>
