<h1>Info about Shop</h1>
<p>Разработчики магазина: </p>

<h3>Сокало Вячеслав</h3>
<h3>Панасюк Дмитрий</h3>
<h3>Сирко Дмитрий</h3>
  <h5> В проэкте будем применять различные gem-и, реализуем аутентификацию пользователей. Попробуем заполнять корзину покупателя товарами, оплачивать её, оформлять заказ. Будут созданы страницы для покупателя и для продавца.</h5>
